@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed #f1f1f1;
}

/************************ 3. 인트로영역 ************************/
.intro-area{
    /* height: 575px; */
}
/* 메인파트 전체박스  */
.main-area {
    padding-top: 80px;
    padding-bottom: 60px;
}
/* 메인파트 직계하위박스(겉박스) div 두번째부터
패딩탑 위아래 간격  */
.main-area>div+div{
    padding-top: 60px;
}

/*********** 방송편성소개파트 : .intro-part ***********/
.main .intro-part .partbox {
    height: 455px;
    padding: 10px;
}
/* 서브타이틀 */
.intro-part .stit{
    padding-bottom: 0;
}
/* 하위제목+아이콘 박스 */
.intro-desc{
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
}
.intro-desc h3{
    margin-right: 10px;
}
.intro-desc ul{
    display: flex;
    gap: 0 15px;
}
/* 설명박스 */
.intro-txt{
    padding: 20px;
    font-size: 2.2rem;
    line-height: 2;
    color: #555;
}
/* 인트로버튼 */
.intro-btn{
    padding: 20px 50px;
    border-radius: 10px;
    font-size: 1.8rem;
    background-color: transparent;
    border: 1px solid #000;
    font-weight: bold;
}

/* 인트로 동영상 박스 */
.intro-mv-img{
    position: relative;
    /* 부모자격 */
    aspect-ratio: 2/1.1;
}
/* 가상요소로 플레이버튼 만들기 
-> .off를 준 경우에만 가상요소 버튼보임
따라서 비디오태그 넣을경우 .off지울것 ! */
.intro-mv-img.off::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background: url(../images/icon_play.png) no-repeat;
    cursor: pointer;
}

/* 하위 이미지/동영상 */
.intro-mv-img img,
.intro-mv-img video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* 동영상 설명박스 */
.intro-mv-box figcaption{
    font-size: 2rem;
    padding-top: 10px;
}

/************************ 4. 미리보기영역 ************************/
.preview-area{
    /* height: 803px; */
    /* -> 높이값을 지정하면 내용만큼 자동으로
    높이값이 잡히지 않아서 매번 크기에 따라 
    값을 셋팅해야 하므로 auto로 두자!!

    레이아웃 박스의 내부는 앱솔루트말고 스테틱하게 주어서
    높이가 auto로 자연스래 넘치면 밀리게 하는게 좋음 */
}
/* 플렉스자식요소 */
/* 리스트박스 */
.preview-box .fx-box li {
    /* 한줄에 4개플렉스 배치 - gap값 보면서 랩안되게 적절히 뺴기  */
    flex-basis: calc(100% / 4 - 15px);
    padding: 24px 20px;
    cursor: pointer;
    border-radius: 2rem;
    box-shadow: 0 0 10px #22222240;
    /* 이거해야 안떨어짐 */
    box-sizing: border-box;
}
/* 리스트 타이틀 */
.preview-box .fx-box li h3{
    font-size: 2rem;
    color: #000;
    font-weight: normal;
}
/* 리스트 내용 */
.preview-box li p {
    font-size: 1.5rem;
    margin-top: 1.4rem;
    color: #00000099;
    line-height: 1.7;

    /* 여러줄말줄임표 셋팅하기(높이는주면안댐) */
    display: -webkit-box;
    overflow: hidden;/* 넘치는글자는안보이게 */
    text-overflow: ellipsis;/* 말줄임표시 */
    -webkit-line-clamp: 7;/* 보여줄 라인수 */
    -webkit-box-orient: vertical;/* 라인진행방향(아래로) */
}
/* 리스트 박스 오버시 내용 글자색 */
.preview-box .fx-box li:hover p{
    color: #000;
}
.preview-box ul{ /* 갭하나만주면 위아래양쪽 */
    gap:20px
}

/************************ 5. 현장포토영역 ************************/
.real-photo-area{
    /* height: 1043px; */
}
/* 현장포토 그리드박스 */
.col-12.live-box ul {
    display: grid;
    /* 4개 칼럼 동시비율 셋팅 */
    grid-template-columns: repeat(4, 1fr);
    /* 사이간격:20px넘지말고 그밑은동적으로 반응 */
    gap: min(20px,1.2vw);
}
/* 이미지 */
.live-box img{
    border-radius: 6px;
    /*요소에 이미지 너비를 안주면, 
    부모박스가 유동적으로 줄어들떄 이미지만 버팀!!! */
    width: 100%;
}
/* 이미지 타이틀 */
.live-box figcaption{
    font-size: 2rem;
    padding-top: 1.4rem;
}
/* 현장포토리스트 */
.live-box li{
    cursor: pointer;
}

/************************ 6. 대표이미지 영역 ************************/
.main-photo-area{
    height: 731px;
}

.real-photo-area{
    /* height: 1043px; */
}
/* 대표이미지 그리드박스 */
.col-12.poster-box ul {
    display: grid;
    /* 4개 칼럼 동시비율 셋팅 */
    grid-template-columns: repeat(4, 1fr);
    /* 사이간격:20px넘지말고 그밑은동적으로 반응 */
    gap: min(20px,1.2vw);
}
/* 이미지 */
.poster-box img{
    border-radius: 6px;
    /*요소에 이미지 너비를 안주면, 
    부모박스가 유동적으로 줄어들떄 이미지만 버팀!!! */
    width: 100%;
}
/* 이미지 타이틀 */
.poster-box figcaption{
    font-size: 2rem;
    padding-top: 1.4rem;
}

/* 대표이미지리스트 grid-row 셋팅하기
-> 총 2줄로 셋팅하려면 끝번호가 3  */

.poster-box li:first-of-type { /*첫번쨰*/ 
    grid-row: 1 / 2;
}

.poster-box li+li { /*첫번쨰 제외 다 (2,3,4,5)*/ 
    grid-row: 1 / 3;
}

.poster-box li:last-of-type {  /*마지막(5) 다시덮어 로우 재설정*/ 
    grid-row: 2 / 3;
}



/* 대표이미지 리스트 */
.poster-box li{
    cursor: pointer;
}

/************************ 7. 최신동영상영역 ************************/
.clip-video-area{
    height: 548px;
}
