@charset "utf-8";
/* CGV PJ 인트로 페이지 CSS - intro .css */

/* 초기화 CSS호출  */
@import url(./reset.css);
@import url(./core.css);

/* body 전체 페이지 채우기 */
body{
    height: 100vh;
    /* 스크롤바 없앰 */
    overflow: hidden;
}

/* 비디오 */
#myvid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 필터명도값 조정하여 어둡게함 1~0 사이 또는 %퍼센트로 조절 */
    filter: brightness(0.5);
    /* object-position: center top; */
}

/* 용어체크:
        1) 오버레이효과(overlay) - 어둡게처리하는걸 말함
        2) 트렌스페런트효과(transparent) - 밝게처리하는걸 말함 */

/* 
    [ object-fit 속성 ]
    -> img, video 요쇼에 사용하는 맞춤속성

    - 부모요소 크기를 채우는 방식을 결정함!
    - contain 기본값
    - 특히 이미지일 경우 배경이미지로 넣어야
    빈공간 없이 비율을 유지하면 채울 수 있다고
    생각하는데 이 속성을 사용하면 마치 배경이미지처럼
    이미지를 채우고 나가는 부분을 처리함

    1. cover : 이미지나 동영상 비율유지하며
                부모박스를 빈공간 없이 채움
                (잘리는 부분이 있을 수 있음)
    2. fill : 이미지나 동영상의 비율을 깨고
                부모박스를 빈공간 없이 채움
                (잘리는 부분이 없다)
    3. contain : 이미지나 동영상이 모두 보이며
                비율을 유지함
                (잘리는 부분이 없으나 빈 공간 생김)

    [ object-position 속성 ]
    - object-fit을 사용한 설정에서 위치를 이동할때 사용
    - 이미지나 동영상의 기준값을 변경 적용할 수 있다!
    - 설정법:
        object-position : 가로값 세로값;
        1) 가로값 - left, center, right, 수치(px,% 등)
        2) 세로값 - top, center, bottom, 수치(px,% 등)
        -> 기본값은 가로값,세로값 모두 center임!

    */

    /* 들어가기버튼 */
    /* 박스가운데로 */
    #enter{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        /* outline: 2px dotted lime; */
    }

    /* 이미지원본 */
    #enter img{
        transition: 0.3s ease-out;
    }

    /* span원본 */
    #enter span{
        /* span이 인라인이라 트랜스폼 하려면 블록으로 바꿔야 함 */
        display: block;
        text-align: center;
        font-size: 34px;
        font-family:'Audiowide';
        /* 돌아갈땐 지연없게 */
        transition: 0.3s ease-out;
    }

    /* 엔터박스 호버시 이미지 */
    #enter:hover img{
    transform: rotate(-15deg) scale(1.5);
    }

    /*엔터박스 호버시 글자 스케일 변경*/
    #enter:hover span{
        transform: scale(2);
        color: chartreuse;
        /* 호버할때 트랜지션 */
        transition: 0.3s 0.2s ease-out;
    }