@charset "utf-8";
/* 인트로 사이트 메인 CSS - main.css */

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
 
    background:
    url(../images/main.jpg) no-repeat center bottom/100%;
    
    /* linear-gradient(to bottom,rgb(255, 167, 240),rgb(198, 251, 255); */

/* 
[선형 그라데이션]
background-image:
linear-gradient(방향,색1,색2,색3,...) 
-방향: to top, to left, to right, to bottom
*/

}

.wrap {
border: 5px dashed #ffffff;
border-radius: 20px;
width: 600px;
margin: 0 auto;
padding: 20px;
text-align: center;
background-color: #ffffff79;
}
